.face{
    width: 500px;
    height: 500px;
    background-color: #ffa511;
    /* to make the div circle */
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: rgb(146, 66, 29);
    border-radius: 0px 0px 50px 50px;
    position: absolute;
    top: 350px;
    left: 160px;
}

.left-eye,.right-eye{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 150px;
}

/* ofsetting right eye */
.right-eye{
    position: absolute;

    left: 300px;
}